@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: #E6EAEF; /* The exact soft cool gray from the reference */
  color: #111827;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}